body {
    background-color: #333333;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  hr {
    border: 0;
    border-top: 1px solid white;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.08);
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 40%;
    padding: 20px;
    color: white;
    background: #222;
  }
  
  .preview-panel {
    flex: 1;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 30px;
  }
  
  .character-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    border: 2px solid white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    max-height: 350px;
    overflow-y: auto;
  }
  
  .character-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
  }
  
  .download-button {
    position: absolute;
    bottom: 10px;
    width: 90%;
    padding: 10px 20px;
    background: #484848;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  